body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: tan;
}

a {
  color: #00B7FF;
}
img{
    width: 95%;
}
.jumbotron{
    background-color: brown;
}
.author{
  text-align: right;
}
.description, .comments, .addComments{
 text-align: center;
}
.commentBar{
  text-align: center;
}

 .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}
.well{
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/a4/41/47/a4414711665cfc11e80e248333ba5bab.jpg");
}

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}
.fade-in-out {
  transition: 1s linear all;  
  opacity: 1;


.fade-in-out.ng-hide {
   opacity: 0;
 
}