body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: tan;
}

a {
  color: #00B7FF;
}
img{
    width: 95%;
}
.jumbotron{
    background-color: brown;
}
.author{
  text-align: right;
}
.description, .comments, .addComments{
 text-align: center;
}
.commentBar{
  text-align: center;
}
/*.comments.ng-hide-remove {
  animation: fadeInDown 1s;
}

.comments.ng-hide-add {
  animation: fadeOutUp 1s;
}

.showComment.ng-hide-remove {
  animation: fadeInDown 1s;
}

.showComment.ng-hide-add {
  animation: fadeOutUp 1s;
}*/
 .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}
.fade-in-out {
  transition: 1s linear all;  
  opacity: 1;


.fade-in-out.ng-hide {
   opacity: 0;
 
}